<clr-modal [(clrModalOpen)]="basic">
  <h3 class="modal-title">{{ model.id > 0 ? "Edit" : "Add" }} {{ "phone" }}</h3>
  <div class="modal-body">
    <form clrForm clrLayout="horizontal" [formGroup]="form">
      <clr-input-container>
        <label>Phone number</label>
        <input
          clrInput
          type="text"
          [formControl]="form.controls['phoneNumber']"
          name="phoneNumber"
          mask="+000(00) 000 0000"
          prefix=""
          [showMaskTyped]="true"
          [dropSpecialCharacters]="false"
          required
          [ngClass]="{
            'is-invalid': submitted && form.controls.phoneNumber.errors
          }"
        />
        > -->
        <clr-control-error
          class="invalid-feedback"
          *ngIf="submitted && form.controls.phoneNumber.errors"
        >
          Error message that appears after focus is lost and control is invalid
        </clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>User name</label>
        <input
          clrInput
          type="text"
          formControlName="userName"
          name="userName"
          required
        />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="closeModal()">
      Cancel
    </button>
    <button type="submit" class="btn btn-primary" (click)="submit()">
      {{ model.id > 0 ? "Edit" : "Add" }}
    </button>
  </div>
</clr-modal>
